@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Xsrf
@{
  var tokens = Xsrf.GetAndStoreTokens(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - RazorPageAdmin</title>
  <meta name="request-verification-token" content="@tokens.RequestToken"/>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="d-flex">
<aside class="sidebar p-3" style="width: 280px; background: #f8f9fa;">
  <partial name="_Sidebar"/>
</aside>

<main class="flex-grow-1 position-relative" style="height: 100vh; overflow: hidden;">
  <div id="main-content" class="h-100 p-4" style="overflow-y: auto;"
       x-transition:enter="transition ease-out duration-500"
       x-transition:enter-start="opacity-0 transform scale-95"
       x-transition:enter-end="opacity-100 transform scale-100">

    @RenderBody()
  </div>
  <div id="global-loading" class="loading-overlay" style="display:none;">
    <img src="/images/bars.svg" alt="Loading..." class="loading-spinner">
  </div>

</main>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/htmx/htmx.min.js"></script>
<script defer src="~/lib/alpinejs/alpine.min.js"></script>
<script>
  document.addEventListener("htmx:configRequest", (evt) => {
    let httpVerb = evt.detail.verb.toUpperCase();
    if (httpVerb !== 'GET') {
      let token = document.querySelector('meta[name="request-verification-token"]').content;
      evt.detail.headers['RequestVerificationToken'] = token;
    }
  });

</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>